<div class="container row">
    <div class="vertical-menu">
        <a class="btn btn-link" [routerLink]="['addon']">Add-On Management</a>
        <a class="btn btn-link" [routerLink]="['car']">Car Management</a>
        <a class="btn btn-link" [routerLink]="['service']">Service Management</a>
        <a class="btn btn-link" [routerLink]="['promo']">Promo Code Management</a>
        <a class="btn btn-link" [routerLink]="['user']">User Management</a>
        <a class="btn btn-link" [routerLink]="['order']">Order Management</a>
    </div>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>